.fs-7 {
    font-size: 13px !important;
}
.fs-14px {
    font-size: 14px !important;
}

.mega-menu{
    left: 8%;
    display: block;
}

/* .mobile-cover:hover ~ .mega-menu {
    display: block;
}

.mega-menu:hover {
    display: block;
    
} */

.mega-menu-women{
    left: 8%;
    display: block;
}

/* .women:hover ~ .mega-menu-women {
    display: block;
}

.mega-menu-women:hover {
    display: block;
    
} */

.mega-menu-men{
    left: 8%;
    display: block;
}

/* .men:hover ~ .mega-menu-men{
    display: block;
}

.mega-menu-men:hover {
    display: block;
    
} */