
.product-img{
    position: relative;
}

.product-slider{
    position: absolute;
    inset: 0;
    z-index: -1;
    transition: z-index .5s ease, transform .6s ease;
}

.product-img:hover .mySwiper{
    z-index: 0;
}
